{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Animated</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="/static/css/style.css"

        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"
    </head>
    <body>
        <div class="container">
            <div class="div__logo">
                <img class="chat__logo" src="{% static 'image/chat_logo.png' %}" alt="chatlogo">
            </div>
            <div class="main__chat"></div>
            <div class="input__send">
                <textarea id="Clickarea" class="send__message", type="text", name="message__send", placeholder="Send a message"></textarea>
                <button id="Buttonarea" class="button__send" style="opacity: 0;position: absolute; right: 14px;"></button>
                <script>
                    const textarea = document.getElementById('Clickarea');
                    const button = document.getElementById('Buttonarea');
                    textarea.addEventListener('input', () => {
                        if (textarea.value.trim() === '') {
                            button.style.opacity = '0';
                        } else {
                            button.style.opacity = '1'
                        }

                    });
                </script>
            </div>
        </div>
    </body>
</html>